<h1> Welcome <%= first_name(@user.name) %> </h1>

<p> Thanks for signing up. You've a place reserved on our Beta users list.
  We'll be in touch soon. Please spread the word about our exciting new
  service by sending an Beta invite out to your network here; </p>

