<h1> index page<br>
  What shall we put here in our context?</h1>

<%= render 'signup_form' %>

<!-- <% if @users.any? %>
        <% @users.each do |u| %>
          <%= u.email %>
        <% end %>
      <% else %>
        not signed in
      <% end %> -->