<div class="main" style="background-image: url('/assets/people.jpg')">
  <div class="container">
    <h1>
      <img alt='the gethr logo' src='/assets/gethr_logo.png' class="logo">
    </h1>
    <div class="content">
      <h4 class="motto">Manage employees and their benefits, easily.</h4>
      <%= render 'signup_form' %>
    </div>
  </div>
</div>