<!-- must now write in the if statement to render form if not logged in or just normal page if they have -->
<div class="main welcome-message">
  <h4> <%= greet(Time.new.hour) %> <%= @user.first_name.capitalize %>, your place is now secured on the HrWorks early access list.<br> We'll be in touch once we're a little closer to launch.</h4>
</div>