<div class="main" style="background-image: url('/assets/people.jpg')">
  <div class="container">
    <a href="http://www.gethr.io">
      <img alt='the gethr logo' src='/assets/gethr_logo.png' class='logo'>
    </a>
    <div class="content">
      <h3 class="motto">Manage employees and their benefits, easily.</h3>
      <h4> Welcome <%= @user.email %>, early access to<br> gethr.io is on its way to you shortly.</h4>

      <!-- must now write in the if statement to render form if not logged in or just normal page if they have -->
      
    </div>
  </div>
</div>
